<ion-view title="Prendre contact" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" href="tel:0800655655">
        <img src="img/sIO7sFwmREK6vnv1u5yU_phone.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="prendreContact-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Vous souhaitez nous faire part de vos suggestions ou obtenir des informations sur le fonctionnement de votre réseau ?</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="prendreContact-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Merci de bien vouloir nous transmettre le formulaire ci-dessous complété. Notre service clientèle vous apportera une réponse dans les plus brefs délais.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <a href-inappbrowser="http://www.citalis.re/content/nous-contacter" id="prendreContact-button1" class="button button-positive button-block">Vers la page contact du site</a>
    <div class="spacer" style="height: 10px;"></div>
    <div id="prendreContact-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Si toutefois vous souhaitez avoir un conseiller en direct contacter notre numéro vert au 0800 655 655, le service est ouvert du lundi au vendredi de 7H30 à 18H00 et le samedi de 8H00 à 17H00.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <a href="tel:0800655655" id="prendreContact-button2" class="button button-positive button-block">Appeler le numéro vert</a>
  </ion-content>
</ion-view>